.create-recipe {
  min-height: 100vh;
  background-color: #ffe8cc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-recipe-container {
  flex: 1;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  max-width: 95vw;
}

.create-recipe-title {
  color: #0e2528;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.create-recipe-form label {
  font-size: 16px;
  font-weight: bold;
  color: #0e2528;
  margin-bottom: 8px;
  font-family: Arial, sans-serif;
}

.create-recipe-form input,
.create-recipe-form textarea,
.create-recipe-form select {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  font-family: Arial, sans-serif;
  padding: 5px 0 5px 5px;
}

.numbers {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.recipe-influence {
  width: 100%;
}

.recipe-influence .search-input {
  width: 95%;
  margin-left: 2%;
}

.recipe-influence .country-label {
  margin-top: 10px;
  font-weight: normal;
}

.recipe-influence .countries-title {
  font-size: 16px;
  font-weight: normal;
  color: #0e2528;
  margin-bottom: 8px;
  font-family: Arial, sans-serif;
}

.post-recipe-btn {
  background-color: #a40000;
  color: #f5e9e2;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-bottom: 20px;
}

.post-recipe-btn:hover {
  background-color: #7b0000;
}
